@model IEnumerable<OPGPROJECT_OPG.Models.Report>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Month)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SelfManagement)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SelfAwareness)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SocialAwareness)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RelationshipSkills)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResponsibleDecisionMaking)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Month)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SelfManagement)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SelfAwareness)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SocialAwareness)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RelationshipSkills)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResponsibleDecisionMaking)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
