@model OPGPROJECT_OPG.Models.ClassRoom

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .dl-horizontal dt {
        text-align: left;
    }
</style>

<h2>Class Room Details</h2>

<div>
    <h4>Class Room</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn btn-sm btn-default" }) |
    @Html.ActionLink("Back to List", "Index",null, new { @class = "btn btn-sm btn-default" })
</p>
<br/>
<h4>Children</h4>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Surname
        </th>
        <th>
            Gender
        </th>
        <th>
            Date Of Birth
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Children)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-sm btn-default" }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-sm btn-primary " }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-sm btn-danger" })
            </td>
        </tr>
    }
</table>